
<mat-toolbar color="primary">
  <mat-toolbar-row class="topo">
    <span>TODO LIST</span>
    <span class="example-spacer"></span>
    <button mat-button>INICIO</button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="card">
  <mat-card class="example-card">
    <mat-card-header>

      <form class="example-form2">
        <mat-form-field class="example-form">
          <input matInput placeholder="Tarefa" value="">
        </mat-form-field>
        <button mat-fab color="accent" class="mais"> <mat-icon>add</mat-icon> </button>
      </form>

    </mat-card-header>

  </mat-card>
</div>

<div class="card2">
  <mat-card class="example-card">
    <mat-card-header>
      <div style="margin-left: 20px; left: 0px; position: absolute;">
        <button mat-mini-fab color="accent"> <mat-icon>done</mat-icon> </button>
      </div>

      <mat-card-title style="margin-top: 8px; margin-left: 45px;">Tarefa 1</mat-card-title>
      <div class="right">
        <button mat-raised-button color="primary" style="margin-right: 10px; margin-top: 2px;"> <mat-icon>edit</mat-icon> </button>
        <button mat-raised-button color="primary"> <mat-icon>delete</mat-icon> </button>
      </div>
    </mat-card-header>
  </mat-card>
</div>

<div class="card2">
  <mat-card class="example-card">
    <mat-card-header>
      <div style="margin-left: 20px; left: 0px; position: absolute;">
        <button mat-mini-fab color="accent"> <mat-icon>done</mat-icon> </button>
      </div>

      <mat-card-title style="margin-top: 8px; margin-left: 45px;">Tarefa 1</mat-card-title>
      <div class="right">
        <button mat-raised-button color="primary" style="margin-right: 10px; margin-top: 2px;"> <mat-icon>edit</mat-icon> </button>
        <button mat-raised-button color="primary"> <mat-icon>delete</mat-icon> </button>
      </div>
    </mat-card-header>
  </mat-card>
</div>